{% extends 'admin/change_form.html' %}
{% block content %}
    {{ block.super }}
{% endblock %}
{% block submit_buttons_bottom %}
    {% if add_view %}
        <div style="text-align: right">
            <input type="submit" value="SAVE AND RUN">
        </div>
    {% elif change_view %}
    <div style="text-align: right">
        <input type="submit" value="RUN">
    </div>
    {% endif %}
{% endblock %}

{% block form_top %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.non_field_errors %}
                    <h1>{{ error }}</h1>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% if errors %}
    <p class="errornote">
        f f sadf
    </p>
{% endif %}